@import "variables";
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: $base;
}

.container {
    padding: 0 50px 0 50px;
}

.header {
    background-image: url(../img/top-1.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;
}

.refresh {
    position: relative;
    float: right;
    top: 0;
    z-index: 10;
    width: 116px;
    height: 34px;
    padding: 0;
    background-color: $purple-2;
    a {
        display: block;
        position: relative;
        width: 116px;
        height: 34px;
        padding: 7px 0 7px 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.4rem;

    }
    &:after {
        content: "";
        position: absolute;
        top: 7px;
        right: 10px;
        width: 18px;
        height: 18px;
        background-image: url(../img/sprites.png);
        background-position-x: -192px;
    }
}

.title {
    color: $purple-1;
    padding: 40px;
    p {
        font-size: 2rem;
        line-height: 1.5rem;
    }
    h1 {
        font-weight: 400;
        font-size: 4.5rem;
        letter-spacing: .2rem;
    }
}


/*QUESTIONS NAV*/

.questions-nav-container {
    padding-top: 20px;
}

.questions-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    li {
        float: left;
        width: 20%;
    }
    li:first-of-type>a {
        margin-left: 0;
        &:before {
            display: none;
        }
    }
    li:last-of-type>a {
        &:after {
            display: none;
        }
    }
    a {
        display: block;
        position: relative;
        height: 41px;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        margin-left: 16px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -12px;
            height: 41px;
            width: 12px;
            z-index: 2;
            background-image: url(../img/sprites.png);
            background-position-x: 0px;
            background-repeat: no-repeat;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -11px;
            height: 41px;
            width: 12px;
            z-index: 3;
            background-image: url(../img/sprites.png);
            background-position-x: -12px;
            background-repeat: no-repeat;
        }
    }
    a.quest-active {
        background-color: $purple-1;
        &:after {
            background-position-x: -33px;
        }
        &:before {
            background-position-x: -45px;
        }
    }
    a.quest-inactive {
        background-color: $purple-2;
    }
}


/*QUESTIONS*/

.question-1,
.question-2 {
    padding-top: 20px;
}

.question-1 {
	display: none;
}

.question-text {
    text-align: center;
    font-size: 2.5rem;
    color: $purple-1;
}

.answer-content {
    cursor: pointer;
    margin-top: 20px;
}

.answer-img {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.answer-check {
    padding: 15px;
    background-color: $back;
}

.answer {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

.label-container {
	padding-left: 25px;
}

.answer-label {
    display: inline;
    position: relative;
    vertical-align: baseline;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -25px;
        height: 18px;
        width: 18px;
        z-index: 3;
        margin-top: -10px;
        background-image: url(../img/sprites.png);
        background-position-x: -220px;
        background-repeat: no-repeat;
    }
}

.answer-checked{
    font-weight: 700;
    &:before {
        background-position-x: -248px;
    }
}

.answer-info {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
	&:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 16px;
        width: 16px;
        z-index: 3;
        background-image: url(../img/sprites.png);
        background-position-x: -276px;
        background-repeat: no-repeat;
    }
}

.answer-info-text{
    display: block;
    visibility: hidden;
    position: absolute;
    padding: 20px;
    bottom: 20px;
    left: 0;
    background-color: $back;
    font-size: 1rem;
    border: 1px solid $purple-1;
    &:after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        bottom: -20px;
        left: 25%;
        border-top: 20px solid $purple-1;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
}

.buttons {
	padding: 20px 0;
    a{
        text-decoration: none;
        font-size: 2.5rem;
        padding-top: 5px;
    }
}
.back{
    a{
        color: #D4D4D4;

	display: block;
    position: relative;
    float: left;
    padding-left: 65px;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 47px;
        width: 46px;
        z-index: 3;
        background-image: url(../img/sprites.png);
        background-position-x: -135px;
        background-repeat: no-repeat;
    }
    }
}
.next {
    a{
        color: $purple-1;
        
	display: block;
    position: relative;
    float: right;
    padding-right: 65px;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 47px;
        width: 46px;
        z-index: 3;
        background-image: url(../img/sprites.png);
        background-position-x: -78px;
        background-repeat: no-repeat;
    }
    }
}



/*RESULTS*/

.result-title {
	background-color: $purple-1;
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 50px;
    padding: 10px 0;
}

.result {
    border: 1px solid #c3c3c3;
    padding-bottom: 20px;
    margin: 20px 0;
}

.product-img {
    padding: 20px;
    img {
        width: 100%;
        height: auto;
    }
}

.features-header {
    border-bottom: 1px solid #c3c3c3;
}

.features-list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    li {
        padding: 2px 0 0 20px;
        display: block;
        position: relative;
    }
    .feature-yes {
        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            height: 15px;
            width: 15px;
            z-index: 3;
            background-image: url(../img/sprites.png);
            background-position-x: -302px;
            background-repeat: no-repeat;
        }
    }
    .feature-no {
        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            height: 15px;
            width: 15px;
            z-index: 3;
            background-image: url(../img/sprites.png);
            background-position-x: -326px;
            background-repeat: no-repeat;
        }
    }
}

.features-text {
    a {
        text-decoration: none;
        color: $base;
        font-weight: 700;
        display: block;
        span {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 7px;
                right: -20px;
                height: 7px;
                width: 10px;
                z-index: 3;
                background-image: url(../img/sprites.png);
                background-position-x: -350px;
                background-repeat: no-repeat;
            }
        }
    }
}

.shopping {
    padding: 0;
}

.price-container {
    text-align: center;
    border: 1px solid #c3c3c3;
    margin-top: 30px;
    padding: 10px;
    border-radius: 4px;
}

.price-text {
    font-size: 1.2rem;
    font-weight: 700;
}

.price {
    padding: 0;
    color: $purple-1;
    font-size: 2.5rem;
    font-weight: 500;
}

.buy-button {
    a {
        display: block;
        position: relative;
        padding: 15px 0 15px 50px;
        text-decoration: none;
        color: #ffffff;
        text-shadow: #1a1a1a 1px 1px 0px;
        font-weight: 700;
        font-size: 1.5rem;
        @media only screen and (min-width: 1200px) {
            font-size: 1.8rem
        }
        &:before {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            height: 16px;
            width: 16px;
            z-index: 3;
            background-image: url(../img/sprites.png);
            background-position-x: -370px;
            background-repeat: no-repeat;
        }
        &:after {
            content: "";
            position: absolute;
            top: 12px;
            right: 20px;
            height: 30px;
            width: 30px;
            z-index: 3;
            background-image: url(../img/sprites.png);
            background-position-x: -397px;
            background-repeat: no-repeat;
        }
    }
    position: relative;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient($green-2 0%, $green-1 100%);
}